#numcopies-title {
    display: inline-block;
    margin-right: 10px;
}

#numcopies-input {
    display: inline-block;
}

.brightness {
    display: inline-block;
    margin-right: 10px;
}

.paper-source {
    display: inline-block;
    margin-right: 10px;
}

.separator-paper-source{
    display: inline-block;
    margin-right: 10px;
}

.checkbox{
    display: inline-block;
}

input[type=checkbox] {width:20px; height:20px;}

.slide-container {
    width: 25%;
}

.slider {
    width: 100%;
}

.button .text {
    font-weight: bold;
    text-transform: uppercase;
    color: #1d368a;
    margin: 0 0 15px;
    font-size: 16px;
}


.source-inline {
    display: inline-block;
    margin-right: 20px;
}

body {
    margin-left: 10px;
    margin-top: 10px;
    background-color: lightgray;
}

h4{
    padding-top: 10px;
}

#copy-button{
    position: absolute;
    top: 20px;
    right: 20px;
}